body{
  background-image: url('https://www.bing.com/images/search?view=detailV2&ccid=tZKe9hnE&id=681937CD566C5B2729BEF4F47DD3A70FFF3F25D0&thid=OIP.tZKe9hnE87a4KZGlLf1-YAHaJo&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.b5929ef619c4f3b6b82991a52dfd7e60%3frik%3d0CU%252f%252fw%252bn03309A%26riu%3dhttp%253a%252f%252fwww.zbrushcentral.com%252fattachment.php%253fattachmentid%253d580569%26ehk%3dyU1EnBA9wJFLGCle85LksmnaYUPBH2zI2qwCoxKR3Is%253d%26risl%3d%26pid%3dImgRaw%26r%3d0&exph=1900&expw=1461&q=thanos&simid=608000350860824976&FORM=IRPRST&ck=93D1388FFB433614BC22E1EE397F3BE9&selectedIndex=2'); /*Seeting the background image. Ypu can change this by changing the link!*/
  background-size: cover;
  margin: 0rem; /* see referance for how padding and margins apply */
  font-family: Verdana, sans-serif; /*You can change the font here*/
}  

.main {
    background: rgb(27, 48, 47, 0.4); /* you can find the color combination online - google css color picker. The last value is the opacity */
    margin: 1rem; /* see referance for how padding and margins apply */
    padding: 2rem; /* see referance for how padding and margins apply */
    font-size: 1rem; /* rem is unit of measurement relative to font-size of the root element */
  }

.heading { /*top navigation bar*/
    overflow: hidden;
    padding: 0rem;
    margin: 0rem;
    background-image: linear-gradient(-45deg, #254d48 10%, #306e6a 50%, #27523d 100%);  
  
}
  

/* for classes that we specify include a '.' before class name */
  .box1 {
    border: 2px solid aqua; /* px is unit of measurement in pixels */
    border-radius: 10px;
    padding: 0rem 2rem 1rem 2rem;
    margin-bottom: 2.5rem;
    color: white; /*text color*/
    background: rgb(46, 46, 46, 0.6);/* you can find the color combination online - google css color picker. The last value (0.6) is the opacity */
  }

  .box2 { 
    border: 1px solid white;
    border-radius: 15px;
    padding: 1rem;
    margin: 0rem 0rem 1rem 0rem;
    color: white;
  }

.name {
  color: white;
  margin: 1rem 2rem;
  float: left;
}

.pId {
  color: white;
  margin: 1rem 2rem;
  float: right;
}

 h1 { 
   color: white;
   text-align: center;
   padding: 2rem ;
   margin: auto;
   width: 50%;
}

.center {
  margin: auto;
  width: 50%;
}

.btn {
  text-align: center;
  font-size: 1.5vw;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: rgb(255,255,255); /*you can change color by changing the HEX code*/
}

.btn:hover {
  box-shadow: 4px 6px #636363;
  font-weight: bold;
  cursor: pointer;
}

